.form-wrapper
	box-sizing border-box
	background-image repeating-linear-gradient(-41deg, #699DB6 1px, #5890ad 19px, #699DB6 20px, #fffae8 21px, #f5f1e5 39px, #f8fef4 40px, #d05025 41px, #d46139 59px, #d05025 60px, #fffae8 61px, #f5f1e5 79px, #f8fef4 80px, #699DB6 81px, #5890ad 99px, #699DB6 100px, #fffae8 101px, #f5f1e5 119px, #f8fef4 120px, #d05025 121px, #d46139 139px, #d05025 140px, #fffae8 141px, #f5f1e5 159px, #f8fef4 160px, #699DB6 161px, #5890ad 179px, #699DB6 180px, #fffae8 181px, #f5f1e5 199px, #f8fef4 200px, #d05025 201px, #d46139 219px, #d05025 220px, #fffae8 221px, #f5f1e5 239px, #f8fef4 240px, #699DB6 241px, #5890ad 259px, #699DB6 260px, #fffae8 261px, #f5f1e5 279px, #f8fef4 280px, #d05025 281px, #d46139 299px, #d05025 300px, #fffae8 301px, #f5f1e5 319px, #f8fef4 320px)
	background-size cover
	padding 10px
	width 100%
	*
		box-sizing border-box
	&.animate
		-webkit-animation bg-animate 3s linear infinite
	.alert
		padding 15px
		margin-bottom 20px
		border 1px solid transparent
		border-radius 4px
	.alert-success
		background #cfe3d1
		color #20553c
		border-color #aec7b0
	.alert-danger
		color #a94442
		background-color #f2dede
		border-color #ebccd1
	form
		width 100%
		margin 0
		background #f6f2e6
		padding 30px
		border 1px dotted hsla(0,0,0%, 0.1)
		.form-group
			margin-bottom 15px
			.form-control
				display block
				width 100%
				padding 6px 12px
				line-height 1.428571429
				vertical-align middle

		.fill-email
			background #f5f3ed;
			box-shadow 0 1px 1px #ccc0a4 inset, 0 -1px 0 #e6e1d7 inset, 0 1px 0 #fefefd
			color #7b745e
			padding-left 20px !important
			border 0
			border-radius 44px
			font-size 13px
			font-weight bold
			height 44px
			outline 0
		.subscribe-button
			background-color #699DB6
			border-color rgba(0,0,0,0.3)
			text-shadow 0 1px 0 rgba(0,0,0,0.5)
			color #FFF
			width 100%
			border-radius 44px
			height 44px
			cursor pointer
			&:hover
				background-color #5890ad
				border-color rgba(0,0,0,0.5)

// background: linear-gradient(#e9764e, #af3b13);
// border: 1px solid #a3381b;
// box-shadow: 0 1px 0 #ffb68e inset, 0 -1px 0 #964022 inset, 0 -4px 5px #c04d25 inset, 0 1px 3px #b2a394;
// color: #fff;
// text-shadow: 0 1px 1px #6b0300;
// text-transform: uppercase;
// border-radius: 44px;
// height: 44px;
// width: 100%;

@keyframes bg-animate {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 1000px 0;
  }
}